body {
    margin:0rem auto;
    padding:0rem;
}

.box {
  box-sizing: border-box;
  background-color: rgba(0,0,0,0);
  overflow-y: auto;
  padding: 0rem .625rem .625rem .625rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
}

#logo {
  padding: 1.25rem 0rem;
  float: left;
  clear: float;
}
#header_logo {
	width:27.5rem;
	height:5.5rem;
}


.pull-me{
  cursor:pointer;
  position: static;
  border-right: .125rem solid #00009B;
}

.panel {
  background: #ebebfa;
  background-size: 10% 10%;
  display: none;
  border-bottom: 1px double black;
}


.drop-down {
  display: inline-block;
  position: relative;
  margin: .625rem .625rem;
}

ul.menu li{
  display: inline-block;
  margin: 2.5rem 0rem 1.25rem 0rem;
  width: 10.625rem;
  float: left;
  color: #00009B;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  clear: float;
}

.pull-me a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

p.drop-down a {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
}

.active {
	background-color: #ebebfa;
	opacity: .5;
}

.content_about {
  background-size: cover;
  background-position: center;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  padding: 4.375rem 4.375rem;
  margin: .625rem .3125rem .625rem .3125rem;
}

#sub_head {
 font-weight: 600;
 font-family: 'Raleway', sans-serif;  
 color: #00009B ;
 font-size: 3rem;
 margin: 0rem 0;
 padding: 3rem 0;
 line-height: 2.75rem;
 text-align: center;
}

footer.container p {
  font-size = .375rem;
  text-align = center;
}

.row container section{
	display: inline-block;
    font-family: 'Raleway', italic;	
    font-size = .625rem;
}

#paragraph_1{
  padding: .9375rem 0rem 0rem 0rem;
  margin: 4.375rem 0rem 0rem 21.875rem;
}
#paragraph_2{
  margin: 5.625rem 0rem 0rem 21.875rem;
}
#paragraph_3{
  margin: 5.9375rem 0rem 0rem 21.875rem;
}
#paragraph_4{
  margin: 5.625rem 0rem 0rem 21.875rem;
}

.home_texts p{
  font-family: 'Raleway', italic;
}

.home_images {
	position: absolute;
}

#img_home_one {
  height: 3.0625rem;
  width: 3.0625rem;
  margin: 0rem 0rem 2.5rem 16.25rem;
}
#img_home_two {
  height: 3.75rem;
  width: 4.1875rem;
  margin: 2.5rem 0rem 2.5rem 15.625rem;
}
#img_home_three {
  height: 2.875rem;
  width: 3.25rem;
  margin: 2.5rem 0rem 2.5rem 15.9375rem;
}
#img_home_four {
  height: 5.3125rem;
  width: 6.125;
  margin: 2.5rem 0rem 2.5rem 14.375rem;
}

.home_search_tag {
color: #00009B;
text-transform: none;
font-family: inherit;
font-size: inherit;
text-decoration: none;
}

.home_border {
	border-style: outset;
	margin: 0 auto;
	width: 81.25rem;
    background-color: rgba(38,85,255,.03);	
}

.about_border {
	border-style: outset;
	margin: auto;
	width: 100%;
    opacity: 0.15;	
    position: absolute;
    z-index: -5;
    left: 0;
    height: 138%;
}

.textbook_border {
	border-style: outset;
	margin: auto;
	width: 100%;
    opacity: 0.15;	
    position: absolute;
    z-index: -5;
    left: 0;
    height: 87%;
}


#tab_image_one {
	max-width: 100%;
	max-height: 100%;
}
#tab_image_two {
  	height: 25rem;
	width: 28.75rem;
}
#tab_image_three {	
	max-width: 100%;
	max-height: 100%;
}


#defaultOpen {
    background-color: rgb(38,85,255);
	margin: 0rem 0rem 0rem 3.75rem;
}

#tablink_2 {
    background-color: rgb(255,67,48);
	margin: 0rem 0rem 0rem 0.3125rem;
}

#tablink_3 {
    background-color: rgb(38, 255, 104);
	margin: 0rem 0rem 0rem 0.3125rem;
}


/* Style the tab buttons */
.tablink {
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .875rem 1rem;
    font-size: 1.25rem;
    width: 30%;
    display: inline-block;
    opacity: 0.5;
}

/* Change background color of buttons on hover */
.tablink:hover {
	opacity: 1;
}

/* Set default styles for tab content */
.tabcontent {
    color: black;
    display: none;
    padding: 3.125rem;
    text-align: center;
    height: 23.75rem;
    width: 90%;
    margin: 0rem 0rem 0rem 1.25rem;
}

/* Style each tab content individually */ 
#Student {
	background-color: rgba(38,85,255,.3);
	}
	
.Student_content {
  float: left;
  text-align: left;
  margin: .625rem 0rem;
  padding: 1.25rem 0rem;
  font-size: 1.5rem;
  font-family: 'Raleway', bold;
  color: white;
}
.Student_content_2 {
  float: left;
  text-align: left;
  margin: .625rem 0rem;
  padding: 1.25rem 0rem;
  font-size: 1.5rem;
  font-family: 'Raleway', bold;
  }

.About_content {
  text-align: left;
  margin: .625rem 1rem;
  padding: 1.25rem 1rem;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif, bold;
  color: black;
  z-index: 1;
}

	
#Parent {
	background-color: rgba(255,67,48,.3);
	}
#Instructor {
	background-color: rgba(38, 255, 104, .3);
	}




form {
    font-size: .75rem;
    font-family: Verdana, Arial, Sans-Serif;
    display: inline-block;
}
#messages {
    font-size: .875rem;
	font-family: Garamond, Times, Serif;
}
#search_box {
	float: left;
	text-align: center;
	clear: float;
	padding: 0rem 0rem 0rem 2rem;
}

.header_txt {
 padding: .9375rem;
}

.header_txt img {
   display: inline-block;
}

.header_txt h1 {
   display: inline-block;
}


.main h2 {
 background-color: #DDDDDD ;
 color: #999999 ;
 font-size: 1.25rem;
 margin: 0 0 2.5rem 0;
 padding: 1.25rem 0;
 text-align: center;
}

.thumbnail {
 border: 0rem;
 position: relative;
 padding: 3.125rem;
   border-radius: 0;
   margin-bottom: 3.125rem;
   text-align: center;
   
}

.thumbnail img {
   margin-top: .625rem;
   margin-bottom: 1.875rem;
   max-width: 100%;
   width: 30%;
   height: 30%;
}

.date {
   color: #a3a3a3 ;
   font-size: .875rem;
   font-weight: 200;
}

.title{
  margin: .625rem 1rem;
  padding: 1.25rem 1rem;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
}

.price {
 background-color: #39D1B4 ;
 color: #fff;
 font-size: 1.125rem;
   border-radius: 50%;
   box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.2);
   font-weight: 200;
   height: 5rem;
   line-height: 5rem;
   text-align: center;
   width: 5rem;
 position: absolute;
 top: -2.5rem;
 right: 4.5rem;
}

.rating {
 text-align: right;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
 margin: 1.875rem 0 -1.875rem 1.25rem;
}

.likes,
.dislikes {
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: .9375rem;
   line-height: 2.5rem;
   min-width: 2.5rem;
   height: 5rem;
   border-radius: 50%;
 margin: 0 2rem 3rem 5rem;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 .125rem .3125rem rgba(0,0,0,0.2);
   transition: background 500ms;
}

.likes:hover,
.dislikes:hover {
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.footer_end {
	text-align: right;
	color: white;
	background-color: rgba(0,0,0,.6);
	text-transform: none;
    font-family: 'Raleway', sans-serif;
}
.home_search_tag_2 {
color: white;
text-transform: none;
font-family: inherit;
font-size: inherit;
text-decoration: none;
}

#buttons_pay {
position: inline-block;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid black; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(38,85,255);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: rgba(38,85,255,.5);
}

/* Add a background color and some padding around the form */
.container_box {
    border-radius: 5px;
    background-color: rgba(38,85,255,.03);
    padding: 0rem 1rem 1rem 1rem;
    text-align: center;
}


#searches_box {
	display: inline-block;
	position: inline-block;
}

@media screen and (max-device-width: 1000px) {

          font-size: 0.4rem;
          margin: 0.5rem 0;
          padding: 0.5rem 0;

}