<button class="btn btn-active" ng-click="download()"> 
  <a href = "{{ info.url }}" class = "home_search_tag" style = "float: right;" target="_blank">{{ buttonText }}  </a>
</button>


<button class="btn btn-active" ng-click="download()"> 
  <a href = "{{ info.url2 }}" class = "home_search_tag" style = "float: right;" target="_blank">Facebook  </a>
</button>


<button class="btn btn-active" ng-click="download()"> 
  <a href = "{{ info.url3 }}" class = "home_search_tag" style = "float: right;" target="_blank">Donate  </a>
</button>